@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> _signInManager

<ul class="navbar-nav">
    @if (_signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <form class="form-inline" asp-controller="Account" asp-action="LogOut" method="post">
                <input type="submit" class="nav-link btn btn-link text-dark" value="Logout @User.Identity.Name" />
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="LogIn">Login</a>
        </li>
    }
</ul>
